@import "tailwindcss";

@theme {
  --color-neon-blue: #00f3ff;
  --color-cyber-purple: #b026ff;
  --color-dark-bg: #020617; /* slate-950 */
}

body {
  @apply bg-slate-950 text-white font-sans antialiased;
}
